* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background: #f8fafc;
    color: #1f2937;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: rgb(182, 181, 181);
    border-right: 1px solid #e5e7eb;
    padding: 20px;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    color: #3b82f6;
    margin-bottom: 30px;
}

.nav_link {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: #374151;
    text-decoration: none;
    border-radius: 8px;
}

.nav_link:hover,
.nav_link.active {
    background: #e0f2fe;
    color: #2563eb;
}

/* Main */
.main_content {
    flex: 1;
    padding: 25px;
}

/* Header */
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.page_header h1 {
    margin: 0;
}

/* Button */
.btn_primary {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn_primary:hover {
    background: #2563eb;
}

/* filtro-container */
.filtro-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-left: 3rem;
}

.search-input,
.select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #667697;
    width: 200px;
}

/* Table */
.table-container {
    background: white;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #bd3d34;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #e5e7eb;
}

.hover-row:hover {
    background: #bdc6cf;
}

/* Actions */
.actions a {
    text-decoration: none;
    margin-right: 8px;
    font-size: 16px;
}

.btn-edit {
    color: #3b82f6;
}

.btn-delete {
    color: #ef4444;
}

/* Low stock highlight */
.low-stock {
    background: #fff7ed;
}

.low-stock td {
    color: #b45309;
    font-weight: 600;
}
