<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="app">
     <aside class="sidebar">
    <h2 class="logo">📦 Distribuidora</h2>
     <nav>
    <a href="/" class="{% if page == 'inicio' %}active{% endif %}">Inicio</a>

    <a href="/productos" class="{% if page == 'productos' %}active{% endif %}">
      Productos
    </a>

    <a href="/ventas" class="{% if page == 'ventas' %}active{% endif %}">
      Ventas
    </a>

    <a href="/agregar_productos" class="{% if page == 'agregar_productos' %}active{% endif %}">
      Agregar Producto
    </a>
  </nav>
  </aside>
<main class="content"> 
<h2>Nueva Venta</h2>

<form method="POST">

  <label>Producto</label>
  <select name="producto_id" required>
    {% for producto in productos %}
      <option value="{{ producto.id }}">
        {{ producto.nombre }} (Stock: {{ producto.stock }})
      </option>
    {% endfor %}
  </select>

  <label>Cantidad</label>
  <input type="number" name="cantidad" required min="1">

  <button type="submit">Registrar Venta</button>

</form>

</main>
</div>
    <script src="/static/search.js"></script>
</body>
</html>