<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
<div class="app">
<aside class="sidebar">
        <h2 class="logo">📦 Distribuidora</h2>
        <nav>
    <a href="/" class="{% if page == 'inicio' %}active{% endif %}">Inicio</a>

    <a href="/productos" class="{% if page == 'productos' %}active{% endif %}">
      Productos
    </a>

    <a href="/ventas" class="{% if page == 'ventas' %}active{% endif %}">
      Ventas
    </a>

    <a href="/agregar_productos" class="{% if page == 'agregar_productos' %}active{% endif %}">
      Agregar Producto
    </a>
    <a href="/clientes" class="{% if page == 'clientes' %}active{% endif %}">
      Clientes
    </a>
  </nav>
    </aside>
  <main class="content">
        <h2>Agregar cliente</h2>
        
        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre" required><br><br>
            <input type="text" name="telefono" placeholder="Teléfono" required><br><br>
            <input type="text" name="direccion" placeholder="Dirección" required><br><br>
            <input type="email" name="email" placeholder="Email"><br><br>
            
            <button type="submit">Guardar</button>
        </form>
    </main>
</div>
</body>
<script src="/static/search.js"></script>
</html>