<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Distribuidora app</title>
</head>
<body>
    <div class="app">
    <aside class="sidebar">
        <h2 class="logo">📦 Distribuidora</h2>
         <nav>
    <a href="/" class="{% if page == 'inicio' %}active{% endif %}">Inicio</a>

    <a href="/productos" class="{% if page == 'productos' %}active{% endif %}">
      Productos
    </a>

    <a href="/ventas" class="{% if page == 'ventas' %}active{% endif %}">
      Ventas
    </a>

    <a href="/agregar_productos" class="{% if page == 'agregar_productos' %}active{% endif %}">
      Agregar Producto
    </a>
  </nav>
    </aside>
    <h1>Bienvenido a la Distribuidora</h1>
        
    </div>
    <script src="/static/search.js"></script>
</body>
</html> 