<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos - Distribuidora</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">📦 Distribuidora</h2>
     <nav>
    <a href="/" class="{% if page == 'inicio' %}active{% endif %}">Inicio</a>

    <a href="/productos" class="{% if page == 'productos' %}active{% endif %}">
      Productos
    </a>

    <a href="/ventas" class="{% if page == 'ventas' %}active{% endif %}">
      Ventas
    </a>

    <a href="/agregar_productos" class="{% if page == 'agregar_productos' %}active{% endif %}">
      Agregar Producto
    </a>
    
    <a href="/clientes" class="{% if page == 'clientes' %}active{% endif %}">
      Clientes
    </a>
  </nav>
  </aside>

  <!-- Main -->
  <main class="content">

    <header class="topbar">
      <h1>Productos</h1>
      <a href="/agregar_productos" class="btn-primary">+ Nuevo Producto</a>
    </header>

    <!-- Buscador -->
    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Buscar por código o nombre...">
    </div>

    <!-- Tabla -->
    <div class="table-card">
      <table id="productsTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{ producto.id }}</td>
            <td class="codigo">{{ producto.codigo }}</td>
            <td class="nombre">{{ producto.nombre }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.categoria }}</td>
            <td><a href="/editar_producto/{{ producto.id }}" class="btn-edit">🖋️</a>
                <a href="/eliminar_producto/{{ producto.id }}" class="btn-delete">🗑️</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </main>
</div>

<script src="/static/search.js"></script>
</body>
</html>