<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Ventas</title>
</head>
<body>
    <div class="app">
     <aside class="sidebar">
    <h2 class="logo">📦 Distribuidora</h2>
     <nav>
    <a href="/" class="{% if page == 'inicio' %}active{% endif %}">Inicio</a>

    <a href="/productos" class="{% if page == 'productos' %}active{% endif %}">
      Productos
    </a>

    <a href="/ventas" class="{% if page == 'ventas' %}active{% endif %}">
      Ventas
    </a>

    <a href="/agregar_productos" class="{% if page == 'agregar_productos' %}active{% endif %}">
      Agregar Producto
    </a>
  </nav>
</aside>
<main class="content"> 

    <header class="topbar">
        <h1>Ventas</h1>
        <a href="/agregar_venta" class="btn-primary">+ Nueva Venta</a>
    </header>
    <div class="table-card">
        <table border="1" >
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>nombre</th>
                <th>cantidad</th>
                <th>precio unitario</th>
                <th>Total</th>
            </tr>   
            
            {% for v in ventas %}
            <tr>
                <td>{{ v.venta_id }}</td>
                <td>{{ v.fecha }}</td>
                <td>{{ v.nombre }}</td>
                <td>{{ v.cantidad }}</td>
                <td>${{ v.precio_unitario }}</td>
                <td>${{ v.total }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
</div>
    <script src="/static/search.js"></script>
</body>
</html>